{% extends 'base.html.twig' %}

{% block title %}Edit Record{% endblock %}

{% block body %}
    <h1>Edit Record</h1>
    <div class="container container-fluid">
        {{ include('record/_form.html.twig', {'button_label': 'Update'}) }}
        
        <a href="{{ path('record_index') }}" class="badge badge-light">back to list</a>
        
        {{ include('record/_delete_form.html.twig') }}
    </div>
{% endblock %}
