{% extends 'base.html.twig' %}

{% block title %}Record index{% endblock %}

{% block body %}
    {% block header %} Metasite records {% endblock %}
    <h1>Record index</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">CategoryLabel</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 1 %}
        {% for record in records %}
            <tr>
                <th scope="row">{{ i }}</th>
                <td>{{ record.id }}</td>
                <td>{{ record.CategoryLabel }}</td>
                <td>
                    <a href="{{ path('record_show', {'id': record.id}) }}" class="badge badge-primary">show</a>
                    <a href="{{ path('record_edit', {'id': record.id}) }}" class="badge badge-secondary">edit</a>
                </td>
            </tr>
            {% set i = i + 1 %}
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('record_new') }}" class="badge badge-primary">Create new</a>
{% endblock %}
