{% extends 'base.html.twig' %}

{% block title %}New Record{% endblock %}

{% block body %}
    <h1>Create new Record</h1>

    {{ include('record/_form.html.twig') }}

    <a href="{{ path('record_index') }}" class="badge badge-secondary">back to list</a>
{% endblock %}
