{% extends 'base.html.twig' %}

{% block title %}Record{% endblock %}

{% block body %}
    <h1>Record</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ record.id }}</td>
            </tr>
            <tr>
                <th>CategoryLabel</th>
                <td>{{ record.CategoryLabel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('record_index') }}" class="badge badge-light">back to list</a>

    <a href="{{ path('record_edit', {'id': record.id}) }}" class="badge badge-secondary">edit</a>

    {{ include('record/_delete_form.html.twig') }}
{% endblock %}
