// customize some Bootstrap variables
// $body-bg: rgba(170, 98, 15, 0.562);
// $body-color: rgba(20, 70, 110, 0.719);

$theme-colors: (
  "primary":    #3b79c9,
  "danger":     #c0231ba2,
  "secondary":  #0f52aa,
  "success":    #128ed6,
  "info":       #1150a34b,
  "warning":    #4f25e4cc,
  "light":      #119cd3,
  "dark":       #550aaa8a
);

$yiq-contrasted-threshold:  224;

$enable-caret:                                true;
$enable-rounded:                              true;
$enable-shadows:                              true;
$enable-gradients:                            false;
$enable-transitions:                          true;
$enable-prefers-reduced-motion-media-query:   true;
$enable-hover-media-query:                    false; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true;
$enable-pointer-cursor-for-buttons:           true;
$enable-print-styles:                         false;
$enable-responsive-font-sizes:                false;
$enable-validation-icons:                     true;
$enable-deprecation-messages:                 true;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";