<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="jumbotron">
                <h1 class="display-4">{% block header %}The site{% endblock %} </h1>
                <p class="lead"><a class="badge badge-info" href="https://www.metasite.net" target="_blank">Metasite</a> Symfony test task.</p>
                <hr class="my-4">
                <p>Exemplifies Doctrine <span class="font-weight-bold">ORM CRUD operating form</span>, based on <span class="font-weight-light font-italic">TW Bootstrap</span></p>
                <a class="btn btn-primary btn-lg" href="{{ url('record_index') }}" role="button">Learn more</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="badge badge-dark" href="{{ url('app_logout') }}">Logout</a>
                {% endif %}
            </div>
        </header>
        <div class="container container-fluid">
            {% block body %}{% endblock %}
            {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% endblock %}
        </div>
        <footer>
            <div class="container container-fluid">
                <div class="mx-auto" style="width: 250px">
                    <a href="https://pbgroupeu.wordpress.com" class="badge badge-info" target="_blank">pbgroup.com</a> <a class="badge badge-light" href="https://github.com/Illumina/licenses/blob/master/Simplified-BSD-License.txt">BSD</a> {{'now'|date('Y')}}
                </div>
            </div>
        </footer>
    </body>
</html>
